@model ASP_MVC.Areas.Product.Models.CreateProductModel

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewData["Categories"] as MultiSelectList;
}

<h1>@ViewData["Title"]</h1>

<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId"/>
            <div class="form-group">
                <label asp-for="CategoryProductIds" class="control-label"></label>
                <select asp-for="CategoryProductIds" multiple="multiple" asp-items="list" class="w-100"></select>
                <span asp-validation-for="CategoryProductIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mt-1">
                <input
                    class="collapse"
                    type="file"
                    id="selectFileUpload"
                    onchange="autoUploadPhoto()"/>
                <span class="btn btn-primary" onclick="ClickButtonUploadPhotos()">Uploads Image</span>
            </div>
            <div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@Model?.ProductId">
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control"/>
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published"/> @Html.DisplayNameFor(model => model.Published)
                </label>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Cập nhật" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Danh sách sản phẩm</a>
</div>

@section Scripts {

    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css"/>

    <script>
            $("#CategoryProductIds").multipleSelect({
                selectAll: false,
                keepOpen: false,
                isOpen: false,
            });
        </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
        <script>
        function autoUploadPhoto()
        {
            let formData = new FormData();
            let id = $("#box-photo-upload").data("id")
            formData.append("id", id)
            
            let numberOfPhotos = document.getElementById("selectFileUpload").files.length;
            if (numberOfPhotos===0) return
            let fileData = document.getElementById("selectFileUpload").files[0]
            formData.append("FileUpload", fileData)
                             
            let urlUploadPhoto = "@Url.Action("UploadPhotoApi")"
                                    
            $.ajax({
                data : formData,
                cache : false,
                url : urlUploadPhoto,
                type : "POST",
                contentType : false,
                processData : false,
                success : function(data)
                   {
                        //... xử lý dữ liệu lấy được
                        LoadPhotos();            
                   }
            })
        }
        
        function ClickButtonUploadPhotos()
        {
            $("#selectFileUpload").click()
        }
        
        function setClickDeletePhoto()
        {
            $("#box-photo-upload .photoDetails span").click(function(){
                
                if (confirm("Có chắc chắn xóa ảnh không ?") !== true) return
                
                let spanButton = $(this);
                let id = spanButton.data("id");
                
                let formData = new FormData();
                formData.append("id", id)
                        
                let urlDeletePhoto = "@Url.Action("DeletePhoto")";
                            
                $.ajax({
                   data : formData,
                   cache : false,
                   url : urlDeletePhoto,
                   type : "POST",
                   contentType : false,
                   processData : false,
                   success : function(data)
                      {
                       //... xử lý dữ liệu lấy được
                        LoadPhotos();            
                      }
                })
            });
        }
        
        function LoadPhotos()
        {
            let box = $("#box-photo-upload");
            let productId = box.data("id");
            box.empty();
            
            let formData = new FormData();
            formData.append("id", productId)
            
            let urlListPhoto = "@Url.Action("ListPhotos")";
                
            $.ajax({
                data : formData,
                cache : false,
                url : urlListPhoto,
                type : "POST",
                contentType : false,
                processData : false,
                success : function(data)
                    {
                        //... xử lý dữ liệu lấy được
                        data.photos.forEach(function(item)
                        {
                            // console.log(item.id);
                            // console.log(item.path);
                            let e = $(
                                        '<div class="photoDetails w-25 p-1">'
                                          +  '<img class="w-100" alt="" src="'+ item.path +'"/>'
                                          +  '<span class="btn btn-danger" data-id="'+ item.id +'">Xóa</span> </div>'                       
                            );
                            box.append(e);
                        })
                        
                        setClickDeletePhoto()
                    }
            })
        }
        
        $(document).ready(function()
        {
            LoadPhotos();    
        })
        </script>
}

@{
    var summernote = new SummerNote("Content")
    {
        Height = 400,
    };

}
<partial name="_Summernote" model="summernote"/>
