@using ASP_MVC.Views.Shared.Components.CategorySidebar
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ASP_MVC.Views.Shared.Components.CategorySidebar.CategorySidebar.CategorySidebarData;
@{
    var level = Model.Level;
}


@if (Model.Categories?.Count > 0)
{
    @if (level == 0)
    {
        @Html.Raw("<div class=\"category-sidebar\">")
        <h4>
            <a asp-controller="ViewPost" asp-action="Index" asp-route-categorySlug="">
                Tất cả chuyên mục
            </a>
        </h4>
    }
    <ul class="">
        @foreach (var category in Model.Categories)
        {
            var cssActive = category.Slug == Model.CategorySlug ? "active" : "";
            <li class="">
                <a class="@cssActive" asp-controller="ViewPost" asp-action="Index" asp-route-categorySlug="@category.Slug">
                    @category.Title
                </a>
                @if (category.CategoryChildren?.Count > 0)
                {
                    @await Component.InvokeAsync("CategorySidebar",
                               new CategorySidebar.CategorySidebarData()
                               {
                                   Categories = category.CategoryChildren.ToList(),
                                   Level = level + 1,
                                   CategorySlug = ViewBag.categorySlug
                               })
                }
            </li>
        }
    </ul>
    @if (level == 0)
    {
        @Html.Raw("</div>")
    }
}
