@inject SignInManager<AppUser> SignInManager

@using ASP_MVC.Models
@model ASP_MVC.Areas.Identity.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = "_LoginLayout";
}

<style>
    .bg-register-image{
    background-image: url(https://i.pinimg.com/236x/84/ac/51/84ac5178745cf0741c8ba5ae40b39560.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color:white;
    }
</style>

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản</h1>
                    </div>
                    <form asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal user" role="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <input asp-for="UserName" class="form-control form-control-user col-sm"/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Email" class="form-control form-control-user"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input asp-for="Password" class="form-control form-control-user"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="ConfirmPassword" class="form-control form-control-user"/>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-user btn-block">Đăng ký</button>
                        </div>
                    </form>

                    <hr>
                    <h4 class="text-center">Đăng ký bằng tài khoản liên kết</h4>
                    @{
                        var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
                        var loginProviders = schemes.ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    Ứng dụng chưa hỗ trợ đăng nhập từ tài khoản ngoài
                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal user" role="form">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            var btn = "";
                                            var icon = "";
                                            switch (provider.Name)
                                            {
                                                case "Facebook":
                                                    btn = "btn btn-facebook btn-user btn-block";
                                                    icon = "fab fa-facebook";
                                                    break;
                                                case "Google":
                                                    btn = "btn btn-google btn-user btn-block";
                                                    icon = "fab fa-google";
                                                    break;
                                            }
                                            <button type="submit" class="@btn" name="provider" value="@provider.Name" title="Log in using your @provider.Name account">
                                                <i class="@icon"></i> Đăng kí bằng tài khoản @provider.Name
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                    <hr>
                    <div class="text-center">
                        <a class="small" asp-action="ForgotPassword" >Quên mật khẩu?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" asp-action="Login">Đã có tài khoản? Đăng nhập thôi!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}