@model string
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <title></title>
</head>
<body>
<div class="card bg-warning text-dark p-3 m-3">
    <h1 class="card-header">Xin chào : @Model</h1>
    <div class="card-body">
        <p class="card-text">
            Bạn đang tìm hiểu về View (.cshtml) trong ASP.NET MVC
        </p>
    </div>
</div>
<hr/>
<p>Cách sử dụng anchor tag helper </p>
<ul>
    <li>asp-are="AreaName"</li>
    <li>asp-action="ActionName"</li>
    <li>asp-controller="ControllerName"</li>
    <li>asp-route-id="123</li>
    <li>asp-route-name="gcp"</li>
    <li>asp-route...="xxx"</li>
    <li>asp-route="default"</li>
</ul>
@{
    var routeData = new Dictionary<string, string>()
    {
        {"name","GiangNguyen"},
        {"id","123"},
        {"class","ABC"}
    };
       @* asp-all-route-data="@routeData" *@
}
<a asp-action="Index" asp-controller="Product" asp-area="ProductManage"
   asp-route-name="GCP"
   asp-route-Abc="XYZ"
   asp-route-id="3"
   >
    Ví dụ
</a>
<hr/>
<p>
    @Url.ActionLink()
</p>
<p>
    @Url.Action()
</p>
<p>
    @Url.Action("Privacy", new { id = 111, name = "GCP" })
</p>
<p>
    @Url.Action("Jupiter", "Planet", new { })
</p>
<p>
    @Url.Action("PlanetInfo", "Planet", new { id = 3 })
</p>
<p>
    @Url.Action("Index","Product",new {area = "ProductManage",id=123})
</p>
<p>
    @Url.RouteUrl("default",new {action="Privacy",controller="Home",id=123,name="GCP"})
</p>
<p>
    @Url.RouteUrl("neptune3")
</p>
@Path
</body>
</html>