@model ASP_MVC.Models.Contacts.Contact
@using ASP_MVC.Areas.AdminCP.Menu
@inject AdminSideBarService AdminSideBarService
@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Thông tin liên hệ</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Danh sách liên hệ</a>
</div>
@{
    AdminSideBarService.SetActive("DatabaseManage","Database","Index");
}
@section Sidebar
{
    @Html.Raw(AdminSideBarService.RenderHtml())
}