@using ASP_MVC.Areas.AdminCP.Menu
@model IEnumerable<ASP_MVC.Models.Contacts.Contact>
@inject AdminSideBarService AdminSideBarService
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Xem</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    AdminSideBarService.SetActive("Contact","Contact","Index");
}
@section Sidebar
{
    @Html.Raw(AdminSideBarService.RenderHtml())
}